ul,li{list-style: none;}
.vdlist{width:100%;}
.vdlist *{margin:0;padding: 0;}
.vdlist li{float:left;width:210px;height:225px;margin:0 10px;overflow: hidden;}
.vdlist img{width:200px;height:150px;}
.vdlist p{height:24px;line-height: 24px;overflow: hidden;}
.vdlist p span{float:right;}
.vdlist h3{height:24px;line-height: 24px;overflow: hidden;}
.dettit{font:18px/30px "微软雅黑";color:#333;padding-bottom:20px;}
.dettit em,.detlist em{font-style: normal;}

.detlist{color:#666;}
.detlist li{width:300px;padding-bottom:20px;opacity: 0.6;padding-left:420px;height:320px;overflow: hidden;}
.detlist li a{cursor: default;}
.detlist img{width:400px;height:300px;float: left;margin-left: -420px;}
.detlist div{height:30px;line-height: 30px;overflow: hidden;}

.detlist div a,.detlist div a:link,.detlist div a:visited,.detlist div a:active,.detlist div a:hover{float:right;text-decoration: none;background: #e6e6e6;border-radius:3px;height:30px;padding:0 10px;color:#666;}
.detlist p{line-height: 24px;overflow: hidden;text-indent: 2em;}

.detlist li.on {opacity: 1;}
.detlist li.on div a,.detlist li.on div a:link,.detlist div li.on a:visited,.detlist div li.on a:active,.detlist div li.on a:hover{background:#428bca ;color:#fff;}
.detlist li.on a{cursor: pointer;}
.vdiv{padding:10px;}